@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #373737;
    letter-spacing: 0.1em;
    background:#e5e5e5;
}
.wrapper {
    max-width:1277px;
    margin: auto;
    background: white;
}
header .navbar {
    padding:1.7em;
    text-align: center;
}
header .navbar ul.menu {
    margin: 0;
    padding: 0;
}
header .navbar ul.menu li {
    display: inline-block;
    list-style-type: none;
    padding: 0 23px;
}
header .navbar ul.menu li a {
    color:#ff0000;
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
header .navbar ul.menu li a:hover {
    color:black;
    text-decoration: none;
}
.content-text {
    padding: 1.3em 4.5em;
    text-align: center;
}
.content-text h2 {
    text-transform:uppercase;
    line-height: 1.9em;
    font-size: 1.4em;
    margin-bottom: 1.3em;

}
.content-text p {
    line-height: 1.9em;
    margin-bottom: 1.3em;
}
.red-button {
    background: red;
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 700;
    border: 0;
    border-radius: 0.5em;
    padding: 1.7em 4em;
    margin: 3em 0;
    cursor: pointer;
}
.red-button:hover {
    background: #373737;
}
footer .copyright {
    text-align: right;
    font-weight: bold;
    padding: 2.3em 9em;
}